<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"  
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"   
    xmlns:context="http://www.springframework.org/schema/context"  
    xmlns:mvc="http://www.springframework.org/schema/mvc" 
      xmlns:tx="http://www.springframework.org/schema/tx"
    xsi:schemaLocation="  
        http://www.springframework.org/schema/beans  
        http://www.springframework.org/schema/beans/spring-beans.xsd  
        http://www.springframework.org/schema/context  
        http://www.springframework.org/schema/context/spring-context.xsd  
        http://www.springframework.org/schema/mvc  
        http://www.springframework.org/schema/mvc/spring-mvc.xsd
        http://www.springframework.org/schema/tx 
    	http://www.springframework.org/schema/tx/spring-tx.xsd"
        >  
<context:component-scan base-package="com.controller"></context:component-scan>    

    <mvc:resources mapping="/resources/**" location="/resources/" />
        <!--Provide support for conversion, formatting and validation -->  
     <mvc:annotation-driven/>  
     
     
<bean id="viewResolver" class="org.springframework.web.servlet.view.tiles3.TilesViewResolver"/>  
<bean id="tilesConfigurer" class="org.springframework.web.servlet.view.tiles3.TilesConfigurer">  
<property name="definitions">  
<list>  
<value>/WEB-INF/tiles.xml</value>  
</list>  
</property>  
</bean>  
   
 <!-- Data Source -->   
<bean id="ds" class="org.springframework.jdbc.datasource.DriverManagerDataSource">    
<property name="driverClassName" value="com.mysql.jdbc.Driver"></property>    
<property name="url" value="jdbc:mysql://localhost:3306/test"></property>    
<property name="username" value="root"></property>    
<property name="password" value="Ak@gami_03"></property>    
</bean>    
    
<bean
		class="org.springframework.orm.hibernate5.LocalSessionFactoryBean"
		name="factory">

		<!-- data source -->
		<property name="dataSource" ref="ds"></property>

		<!-- hibernate properties -->
		<property name="hibernateProperties">
			<props>
				<prop key="hibernate.dialect">org.hibernate.dialect.MySQL5Dialect</prop>
				<prop key="hibernate.show_sql">true</prop>
				<prop key="hibernate.hbm2ddl.auto">update</prop>
			</props>
		</property>

		<!-- annotated classes -->
		<property name="annotatedClasses">
			<list>
					<value>com.bean.User</value>
					<value>com.bean.Customer</value>
					<value>com.bean.Admin</value>
					<value>com.bean.Policy</value>
					<value>com.bean.PolicyType</value>
					<value>com.bean.PolicyPlan</value>
					<value>com.bean.CustomerPolicy</value>
					<value>com.bean.Claim</value>
					<value>com.bean.ClaimDocument</value>
			</list>
		</property>
</bean>   
 <bean id="sessionFactory" class="org.springframework.orm.hibernate5.HibernateTemplate"
		name="hibernateTemplate">
		<property name="sessionFactory" ref="factory"></property>

	</bean>
	<tx:annotation-driven />
	<bean
		class="org.springframework.orm.hibernate5.HibernateTransactionManager"
		name="transactionManager">
		<property name="sessionFactory" ref="factory"></property>
	</bean>
	<bean id="userdao" class="com.dao.UserDao">    
	<property name="template" ref="sessionFactory"></property>    
	</bean>  
	<bean id="customerdao" class="com.dao.CustomerDao">    
	<property name="template" ref="sessionFactory"></property>    
	</bean>
	<bean id="admindao" class="com.dao.AdminDao">    
	<property name="template" ref="sessionFactory"></property>    
	</bean>
	<bean id="policydao" class="com.dao.PolicyDao">    
	<property name="template" ref="sessionFactory"></property>    
	</bean>  
	<bean id="policytypedao" class="com.dao.PolicyTypeDao">    
	<property name="template" ref="sessionFactory"></property>    
	</bean> 
	<bean id="policyplandao" class="com.dao.PolicyPlanDao">    
	<property name="template" ref="sessionFactory"></property>    
	</bean> 
	<bean id="customerpolicydao" class="com.dao.CustomerPolicyDao">    
	<property name="template" ref="sessionFactory"></property>    
	</bean> 
	<bean id="claimdocumemntdao" class="com.dao.ClaimDocumentDao">    
	<property name="template" ref="sessionFactory"></property>    
	</bean>
	<bean id="claimdao" class="com.dao.ClaimDao">    
	<property name="template" ref="sessionFactory"></property>    
	</bean>
	<bean id="emaildao" class="com.dao.EmailDao">    
	<property name="template" ref="sessionFactory"></property>    
	</bean>
	<bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
     <property name="maxUploadSize" value="20971520" />
    <!-- Maximum Size Of File In Memory (In Bytes) -->
        <property name="maxInMemorySize" value="1048576" />
	</bean>
	 <bean id="mailSender" class="org.springframework.mail.javamail.JavaMailSenderImpl">
        <property name="host" value="smtp.gmail.com" />
        <property name="port" value="587" />
        <property name="username" value="prodexa.spring@gmail.com" />
        <property name="password" value="cikkugwzoicbpupf"/>
         <property name="javaMailProperties">
            <props>
                <prop key="mail.transport.protocol">smtp</prop>
                <prop key="mail.smtp.auth">true</prop>
                <prop key="mail.smtp.starttls.enable">true</prop>
                <prop key="mail.debug">true</prop>
            </props>
        </property>
    </bean>
    
</beans>  
